#root {
  // max-width: 1280px;
  width: 100%;
  // margin: 0 auto;
  // padding: 2rem;
}

.app-container {
  margin-top: 5rem;
  // width: 100%;
}

// .hero-row {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.hero-card {
  width: 100%;
  // min-width: 30rem;
  // margin: 0 10rem
}

.hero-form {
  margin: 3rem
}

.hero-form-name-label {
  text-align: center;
}